body {
  background-color: #DFF6FF;
  font-family:sans-serif;
}

hr {
  border: 4px dashed grey;
  border-style: dashed none none none;
  width: 50px;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

img {
  border-radius: 50%;
}
